@import url(__list/contacta__list.css);
@import url(__block/contacts__block.css);
@import url(__link/contacts__link.css);
@import url(__text/contacts__text.css);

.contacts {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding-top: 30px;
}
