.logo__title {
  font-family: "BankGothic Md BT", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.02;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .logo__title {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 430px) {
  .logo__title {
    font-size: 5vw;
  }
}
