@import url(__nav/header__nav.css);
@import url(__nav-left/header__nav-left.css);
@import url(__nav-right/header__nav-right.css);
@import url(__phone/header__phone.css);
@import url(__link/header__link.css);
@import url(__icon/header__icon.css);

.header {
  height: max(50px, min(50px + calc((100vw - 320px) / 14.93), 80px));
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
